body {
    margin: 0;
    background: #fff;
} 
aside, .editor {display: inline-block; vertical-align: top;}
aside {
    width: 30%;
    border-right: 1px solid #eee;
    height: 100%;
    font-family: Fira;
}
.noteItem {
	font-size: 18px;
    padding: 15px 10px;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    -webkit-user-select: none;
    cursor: pointer;
    transition: background .3s;
}
.noteItem:first-child {
    font-size: 18px;
    border-top: 1px solid #eee;
}
.noteTitle {
    display: inline-block;
    width: 90%;
}
span.deleteNote {
    display: inline-block;
    float: right;
    cursor: pointer;
}
.noteItem:hover{
   background: #fff9d6;
}
.noteItem.selected {
    background: #FFE65F;
}
.noteItem:hover, .noteItem.selected{
   border-color: transparent;
}

.editor {
    width: 68%;
    margin-left: 10px;
    background: #FAFAF8;
}
textarea {
	width: 100%;
	height: 200px;
}